node_modules
dist
out
*.log*
.vscode
.idea
package-lock.json


extra/win32/core/settings.json
extra/win32/core/software
extra/win32/core/www
extra/win32/core/temp
extra/win32/core/database
extra/win32/core/bin

extra/darwin/Core/settings.json
extra/darwin/Core/software
extra/darwin/Core/www
extra/darwin/Core/temp
extra/darwin/Core/database
extra/darwin/Core/bin
