node_modules
dist
out
*.log*
.vscode
.idea
package-lock.json


extra/win32/core/settings.json
extra/win32/core/software
extra/win32/core/childApp
extra/win32/core/www
extra/win32/core/temp
extra/win32/core/downloads
extra/win32/core/database
extra/win32/core/bin
extra/win32/core/etc
extra/win32/core/custom

extra/darwin/Core/settings.json
extra/darwin/Core/software
extra/darwin/Core/childApp
extra/darwin/Core/www
extra/darwin/Core/temp
extra/darwin/Core/downloads
extra/darwin/Core/database
extra/darwin/Core/bin
extra/darwin/Core/etc
extra/darwin/Core/custom
