#EasySrv mysql-5.7，www.easysrv.cn

[client]
port = 3306

[mysql]
no-auto-rehash
default-character-set = utf8

[mysqld]
basedir = "/Applications/EasySrv/software/server/mysql-5.7"
datadir = "/Applications/EasySrv/database/mysql-5.7-data"
port = 3306
server_id = 1
character-set-server = utf8

explicit_defaults_for_timestamp = on
skip-ssl

table_open_cache = 256

log_timestamps = SYSTEM

log-error = "/Applications/EasySrv/software/server/mysql-5.7/logs/mysql.log"
log_syslog = 0
[mysqldump]
quick
max_allowed_packet = 512M
