$title-bar-height: 32px;
$container-border-radius: 5px;
$container-box-shadow: rgba(0, 0, 0, 0.14) 0 2px 4px 0;
$button-border-radius: 4px;
$custom-button-height: 35px;
$input-border-radius: 4px;
$custom-input-height: 35px;
$logo-container-height: 100px;
$menu-selected-mark-color: #0067c0;
$font-color: rgba(0, 0, 0, 0.85);
$background-color: #f5f7fa;
