<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Notepad--</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by zuoweiyin</string>
    <key>CFBundleDocumentTypes</key>
    <array>
    <dict> 
    <key>CFBundleTypeExtensions</key>
    <array>
    <string>txt</string> 
    </array>
    <key>CFBundleTypeIconFile</key> 
    <string>txt.png</string> 
     <key>CFBundleTypeName</key> 
    <string>abc file</string> 
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>LSTypeIsPackage</key>
    <true/>
    <key>NSPersistentStoreTypeKey</key>
    <string>XML</string>
    </dict>
   <dict> 
    <key>CFBundleTypeExtensions</key>
    <array>
    <string>cpp</string> 
    </array>
    <key>CFBundleTypeIconFile</key> 
    <string>cpp.png</string> 
     <key>CFBundleTypeName</key> 
    <string>cpp file</string> 
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>LSTypeIsPackage</key>
    <true/>
    <key>NSPersistentStoreTypeKey</key>
    <string>xml</string>
    </dict>
   <dict> 
    <key>CFBundleTypeExtensions</key>
    <array>
    <string>c</string> 
    </array>
    <key>CFBundleTypeIconFile</key> 
    <string>c.png</string> 
     <key>CFBundleTypeName</key> 
    <string>c file</string> 
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>LSTypeIsPackage</key>
    <true/>
    <key>NSPersistentStoreTypeKey</key>
    <string>xml</string>
    </dict>
   <dict> 
    <key>CFBundleTypeExtensions</key>
    <array>
    <string>h</string> 
    </array>
    <key>CFBundleTypeIconFile</key> 
    <string>h.png</string> 
     <key>CFBundleTypeName</key> 
    <string>h file</string> 
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>LSTypeIsPackage</key>
    <true/>
    <key>NSPersistentStoreTypeKey</key>
    <string>XML</string>
    </dict>
   <dict> 
    <key>CFBundleTypeExtensions</key>
    <array>
    <string>html</string> 
    </array>
    <key>CFBundleTypeIconFile</key> 
    <string>html.png</string> 
     <key>CFBundleTypeName</key> 
    <string>html file</string> 
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>LSTypeIsPackage</key>
    <true/>
    <key>NSPersistentStoreTypeKey</key>
    <string>XML</string>
    </dict>
   <dict> 
    <key>CFBundleTypeExtensions</key>
    <array>
   <string>ini</string> 
    <string>go</string> 
    <string>java</string> 
    <string>js</string> 
    <string>json</string> 
    <string>xml</string> 
    <string>pro</string> 
    <string>pri</string> 
    <string>php</string> 
    <string>asp</string> 
    <string>bat</string> 
    <string>asm</string> 
    <string>html</string> 
    <string>yml</string>
    <string>js</string>
    <string>sh</string>
    <string>log</string>
	<string>csv</string>
	<string>json</string>
    </array>
    <key>CFBundleTypeIconFile</key> 
    <string>*.png</string> 
     <key>CFBundleTypeName</key> 
    <string>* file</string> 
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>LSTypeIsPackage</key>
    <true/>
    <key>NSPersistentStoreTypeKey</key>
    <string>XML</string>
    </dict>
   <dict> 
    <key>CFBundleTypeExtensions</key>
    <array>
    <string>html</string> 
    </array>
    <key>CFBundleTypeIconFile</key> 
    <string>html.png</string> 
     <key>CFBundleTypeName</key> 
    <string>html file</string> 
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>LSTypeIsPackage</key>
    <true/>
    <key>NSPersistentStoreTypeKey</key>
    <string>XML</string>
    </dict>
    </array>
	<key>CFBundleIconFile</key>
	<string>mac.icns</string>
	<key>CFBundleIdentifier</key>
	<string>www.itdp.cn.Notepad--</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>NOTE</key>
	<string>This file was generated by Qt/QMake.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
        <key>NSRequiresAquaSystemAppearance</key>
	<true/>
</dict>
</plist>
